

//Variables

$white: #fff;
$green: #4eae83;
$blue: #9fd4cb;
$tan: #efecdc;
$dyellow: #fecf00;
$lyellow: #fae34a;
$black: #282828;

.two.columns { width: 13.12057%; }
.three.columns { width: 21.80851%; }
.four.columns { width: 30.49645%; }
.eight.columns { width: 65.24823%; }
.twelve.columns { width: 100%; }


html {
	letter-spacing: .08em;
}
hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #fecf00;
    margin: 1em 0; padding: 0; }

i {
	color:$dyellow;
}

.floatr {
	float:right;
}

.green {
	color:$green;
}
.tan {
	color:$tan;
}
.tanbg {
	background:$tan;
}
.greenbg {
	background:$blue;
}

.topheavy {
	margin-top:10px;
}
.bottomheavy {
	margin-bottom:10px;
}
.padbottom {
	padding-bottom:20px;
}

.yellowlink {
	color:#fecf00;
}
.yellowlink:hover {
	color:#fae34a;
}

p {
	font-family: 'Open Sans', sans-serif;
	weight:400;
}


//footer
.footer {
	padding-top:10px;
	background:$tan;
}
#footerlogo {
	float:left;
	margin-left:0;
}
.righty {
	float:right;
	text-align:right;
}
.footer2 {
	padding: 15px 0 15px 0;
}


//banner
.container {
	width:100%;
	margin:0;
}

#bannerhome2 {
	background:$tan url(../img/headerbg.png) no-repeat 50% 0%;
	height:400px;
}

#bannerhome2 .valign {
	height:400px;
}
.valign {
    display:table;
    width:100%;
    table-layout:fixed;
}
.valign>div {
    display:table-cell;
    vertical-align:middle;
    width:100%;
}



//abilities
.arc {
	text-align:center;
	margin-right:35px;
	margin-top:10px;
	margin-bottom:10px;
}
.arctext {
	font-size:26px;
}
.arc:last-child {
	margin-right:0px;
}

.bartext {
	font-size:26px;
}

.expaxis path,
.expaxis line {
	fill:none;
	stroke:#000;
	shape-rendering:crispEdges;
}

.expaxis path {
	display:none;
}

.expaxis line {
	stroke: #777;
	stroke-dasharray:2,2;
}

#expDes01 {
	//pointer-events:none; /*let mouse events pass through*/
    //opacity:0;
    //transition: opacity 0.3s;
    //display: none;
}



//exp
.axis path,
.axis line {
	fill:none;
	stroke:black;
	shape-rendering:crispEdges;
}
.axis text {
	font-size:10px;
}

.timeline {
	border-right: 5px solid $green;
}



.tooltip {
    pointer-events:none; /*let mouse events pass through*/
    opacity:0;
    transition: opacity 0.3s;
    p {
    	margin-left: 10px;
    	margin-right: 10px;
    }
}

div.tooltip {
    position: absolute;
    text-align:center;
}
div.fixed {
    position:fixed;
}